<div class="footer-basic" style="height: 243px;padding: 40px;margin-top: 50px;">
    <footer>
        <div class="social">
            <a href="https://twitter.com/ComscenOfficial"><i class="icon ion-social-twitter"></i></a>
            <a href="https://github.com/Comscen/"><i class="icon ion-social-github"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Strona główna</a></li>
            <li class="list-inline-item"><a href="/license">Licencja</a></li>
        </ul>
        <p class="copyright">Comscen © 2021</p>
    </footer>
</div>