<nav class="navbar navbar-light navbar-expand-md shadow navigation-clean-button" style="margin-bottom: 40px;">
    <div class="container">
        <img src="/img/comscen.png" style="width: 50px;"/>
        <a class="navbar-brand" href="#">Comscelingo</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/learning">Nauka</a></li>
                <li class="nav-item"><a class="nav-link" href="/tests">Testy</a></li>
                <li class="nav-item"><a class="nav-link" href="/upload">Dodaj słowa</a></li>
                <li class="nav-item"><a class="nav-link" href="/profile">Profil</a></li>
            </ul>
            <span class="navbar-text actions">
                <% if (typeof session.idToken == 'undefined') { %>
                    <a class="login" href="/auth/login">Zaloguj</a>
                    <a class="btn btn-light action-button" role="button" href="/auth/register">Zarejestruj</a>
                <% } else { %>
                    <a class="btn btn-light action-button" role="button" href="/auth/logout">Wyloguj</a>
                <% } %>
            </span>
        </div>
    </div>
</nav> 