<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ARC</title>
    
    <%- include("./partials/stylesheets.ejs") %>

    <link rel="stylesheet" href="/css/file-upload.css">
    <link rel="stylesheet" href="/css/file-upload-form.css">

</head>

<body>
    
    <%- include("./partials/navigation.ejs") %>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="contact-clean">
                    <form class="shadow" method="POST">
                        <h2 class="text-center">Dodaj ze strony internetowej</h2>
                        <input class="form-control" type="text" placeholder="Podaj adres URL" required>
                        <input class="btn border-white" value="Prześlij" type="submit" style="background: #56c6c6;color: rgb(255,255,255);width: 100%;margin-top:20px" />
                    </form>
                </div>
            </div>
            <div class="col-md-1 text-center">
                <p style="font-weight: 400;color:#505e6c;font-size:26px"><b>lub</b></p>
            </div>
            <div class="col-md-6">
                <div class="contact-clean">
                    <form class="shadow" method="POST" enctype="multipart/form-data">
                        <h2 class="text-center">Dodaj z pliku</h2>
                        <div class="form-group files color">
                            <input type="file" multiple="" name="files">
                        </div>
                        <p><em>Wspierane formaty plików: jpeg, png, pdf, txt.</em></p>
                        <input class="btn border-white" value="Prześlij" type="submit" style="background: #56c6c6;color: rgb(255,255,255);width: 100%;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    
    <%- include("./partials/footer.ejs") %>

    <%- include("./partials/scripts.ejs") %>
    
</body>

</html>